/* ==========================
   メインコンテナ
   ========================== */
.Main {
    width: 100%;
    height: 940px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 1200px;
    padding-top: 400px;
}

.text_title {
    position: relative;
    width: 1198px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

.explanation_ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 50px;
    bottom: 29px;

}

.item_li {
    position: relative;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ==========================
   土日行だけ背景オレンジ
   ========================== */
.weekend {
    background-color: #ffe5c0;
}

/* ==========================
   出席したコマ（緑）
   ========================== */
.attended {
    background-color: #b2f7b2 !important;
}

/* ==========================
   遅刻（赤）
   ========================== */
.late {
    background-color: #ffb3b3 !important;
}

/* ==========================
   ボタン共通（あなたの item_li に合わせた形）
   ========================== */
button.item_li {
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

button.item_li:hover {
    opacity: 0.8;
}

.return_button {
    position: absolute;
    width: 250px;
    height: 100px;
    top: 50px;
    border: 5px solid black;
    border-radius: 10px;
    right: 25px;
    font-size: 30px;
}
/* 出席（緑） */
.status_present {
    background-color: #b2f7b2 !important;
    color: black;
}

/* 欠課（青） */
.status_absent {
    background-color: #b3d4ff !important;
    color: black;
}

/* 遅刻（赤） */
.status_late {
    background-color: #ffb3b3 !important;
    color: black;
}

.status_present {
    background-color: #b7f7b7; /* 緑 */
}

.status_absent {
    background-color: #a8b6ff; /* 青 */
}

.status_late {
    background-color: #ffb7b7; /* 赤 */
}


