version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: attendance-mysql
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: attendance_db
      MYSQL_USER: attendance_user        # 任意でユーザー作る場合
      MYSQL_PASSWORD: attendance_pass    # 任意でパスワード設定
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:

# dockerを立ち上げた際に使ったコマンド docker run --name attendance-mysql -e MYSQL_ROOT_PASSWORD=secret -e MYSQL_DATABASE=attendance_db -p 3306:3306 -d mysql:8.0

# 起動時は docker start attendance-mysql
# 停止時は docker stop attendance-mysql

# dockerを起動後にデータベースを見たい場合 docker exec -it attendance-mysql mysql -u root -pを入力し、パスワードを打つ
# その後 USE attendance_dbと打ち、作成したテーブルに入る