/* ==========================
   メインコンテナ
   ========================== */
.Main {
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 1200px;
}


.password_form {
    width: 700px;
    height: 650px;
    border-radius: 10px;
    border: 5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    position: relative;
    font-size: 27px;
    bottom: 100px;
}

.password_01 {
    position: relative;
    padding: 20px;
    width: 450px;
    height: 50px;
    font-size: 30px;
    bottom: 50px;
}

.password_02 {
    position: relative;
    padding: 20px;
    width: 450px;
    height: 50px;
    font-size: 30px;
}

.admin_page_button {
    position: relative;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    border: 5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
}

.return {
    position: relative;
    width: 300px;
    height: 100px;
    border: 5px solid gray;
    border-radius: 10px;
    font-size: 40px;
    top: 55px;
    right: 700px;
}