.Main {
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.application_form {
    position: relative;
    width: 700px;
    height: 650px;
    border-radius: 10px;
    border: 5px solid gray;
}

.return {
    position: relative;
    width: 300px;
    height: 100px;
    border: 5px solid gray;
    border-radius: 10px;
    font-size: 40px;
    top: 55px;
    right: 700px;
}