.Main {
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.application_form {
    position: relative;
    width: 700px;
    height: 450px;
}

.return {
    position: relative;
    width: 300px;
    height: 250px;
}