.Main {
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    font-size: 70px;
    bottom: 80px;
}

.date {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
    bottom: 80px;
    font-size: 30px;
}

.time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 60px;
    bottom: 80px;
    font-size: 50px;
}

.GPS {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    bottom: 80px;
}

.button_summary {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 150px;
    bottom: 50px;
}
.attendance {
    position: relative;
    width: 300px;
    height: 150px;
    right: 50px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 50px;
}

.end {
    position: relative;
    width: 300px;
    height: 150px;
    left: 50px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 50px;
}

.Reason_for_absence {
    position: relative;
    background-color: orange;
    width: 300px;
    height: 80px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 30px;
    top: 30px;
}