/* ==========================
   メインコンテナ
   ========================== */
.Main {
    width: 100%;
    height: 940px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 1200px;
}

.matome {
    width: 1050px;
    height:1000px;
    overflow-y: auto;
    padding-top: 50px;
}
.status {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 50px;
    border: 1px solid black;
}

.status_title{
    position: relative;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.syousai_button {
    position: relative;
    width: 200px;
    height: 40px;
}

.return_button {
    position: absolute;
    width: 250px;
    height: 100px;
    top: 50px;
    border: 5px solid black;
    border-radius: 10px;
    right: 25px;
    font-size: 30px;
}
